
<%= form_for @changeset, @action, fn f -> %>
<div class="left, col s6">
  <%= input f, :name, class: "disabled" %>
  <%= input f, :username %>
  <%= input f, :email, using: :email_input %>
</div>
<div class="right, col s6">
  <%= input f, :preferred_name %>
  <%= input f, :preferred_username %>
  <%= input f, :preferred_email, using: :email_input %>
</div>
<div class="left, col s2, offset-s1">
  <%= submit "Submit", class: "btn btn-primary" %>
</div>
<% end %>
